{% extends 'base.html.twig' %}

{% block title %}Edit your profile{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-4 col-lg-3">
            <div class="sidebar">
                <div class="widget">
                    <div class="user-photo">
                        <a href="{{ path('profile_image') }}">
                            {% if app.user.profileImage %}
                                <img src="{{ asset( app.user.profileImage.imagePath ) }}" alt="User Photo">
                            {% else %}
                                <img src="{{ asset('assets/img/default/profile.png') }}" alt="">
                            {% endif %}
                            <span class="user-photo-action">Edit your profile picture</span>
                        </a>
                    </div><!-- /.user-photo -->
                </div><!-- /.widget -->
                <div class="widget">
                    <ul class="menu-advanced">
                        <li class="active"><a href="#"><i class="fa fa-user"></i> Edit Profile</a></li>
                        {% for key, value in app.user.roles %}
                            {% if value == 'ROLE_VENDOR' %}
                                <li><a href="{{ path('stages') }}"><i class="fa fa-clipboard"></i> Stages</a></li>
                            {% endif %}
                        {% endfor %}
                        <li><a href="#"><i class="fa fa-key"></i> Password</a></li>
                        <li><a href="{{ path('user_logout') }}"><i class="fa fa-sign-out"></i> Logout</a></li>
                    </ul>
                </div><!-- /.widget -->
            </div><!-- /.sidebar -->
        </div><!-- /.col-* -->
        <div class="col-sm-8 col-lg-9">
            <div class="content">
                <div class="page-title">
                    <h1>Edit Profile</h1>
                </div><!-- /.page-title -->
                <div class="background-white p20 mb30">
                    {% if class == 'Internaut' %}
                        {{ include('profile_templates/profile_internaut.html.twig') }}
                    {% elseif class == 'Vendor' %}
                        {{ include('profile_templates/profile_vendor.html.twig') }}
                    {% endif %}
                </div>
            </div><!-- /.content -->
        </div><!-- /.col-* -->
</div><!-- /.row -->
{% endblock %}