{% extends 'base.html.twig' %}

{% block title %}Stage{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-4 col-lg-3">
            <div class="sidebar">
                <div class="widget">
                    <div class="user-photo">
                        <a href="#">
                            {% if app.user.profileImage %}
                                <img src="{{ asset( app.user.profileImage.imagePath ) }}" alt="User Photo">
                            {% else %}
                                <img src="{{ asset('assets/img/default/profile.png') }}" alt="">
                            {% endif %}
                        </a>
                    </div><!-- /.user-photo -->
                </div><!-- /.widget -->
                <div class="widget">
                    <ul class="menu-advanced">
                        <li><a href="{{ path('profile') }}"><i class="fa fa-user"></i> Edit Profile</a></li>
                        <li class="active"><a href="#"><i class="fa fa-clipboard"></i> Stages</a></li>
                        <li><a href="#"><i class="fa fa-key"></i> Password</a></li>
                        <li><a href="{{ path('user_logout') }}"><i class="fa fa-sign-out"></i> Logout</a></li>
                    </ul>
                </div><!-- /.widget -->
            </div><!-- /.sidebar -->
        </div><!-- /.col-* -->
        <div class="col-sm-8 col-lg-9">
            <div class="content">
                <div class="page-title">
                    <h1 style="display: inline-block;">Stages</h1>
                    <a style="display: inline-block" href="{{ path('stages_create') }}" class="header-action-inner" title="Add Stage" data-toggle="tooltip" data-placement="Right">
                        <i class="fa fa-plus"></i>
                    </a><!-- /.header-action-inner -->
                </div><!-- /.page-title -->

                <div class="posts">
                    {% if app.user %}
                        {% for stage in stages %}
                        <div class="post post-boxed">
                            <div class="post-image">
                                <img src="{{ asset('assets/img/default/stage.png') }}" alt="Illustration">
                            </div><!-- /.post-image -->

                            <div class="post-content">
                                <h2><a href="blog-detail.html">{{ stage.name }}<a></h2>
                                <p>{{ stage.description }}</p>
                            </div><!-- /.post-content -->

                            <div class="post-meta clearfix">
                                <div class="post-meta-author">By <a href="#">{{ stage.vendor.username }}</a></div><!-- /.post-meta-author -->
                                <div class="post-meta-date">{{ stage.dateBegin |date('d-m-Y') }}</div><!-- /.post-meta-date -->
                                <div class="post-meta-categories"><i class="fa fa-tags"></i> <a href="#">{{ stage.price }} $</a></div><!-- /.post-meta-categories -->
                                <div class="post-meta-more"><a href="{{ path('delete_stage', { id : stage.id }) }}">Delete <i class="fa fa-trash-o"></i></a></div><!-- /.post-meta-more -->
                                <div class="post-meta-more"><a href="{{ path('edit_stage', { id : stage.id }) }}">Edit <i class="fa fa-cog"></i>&nbsp; &nbsp;</a></div><!-- /.post-meta-more -->
                            </div><!-- /.post-meta -->
                        </div><!-- /.post -->
                        {% endfor %}
                    {% endif %}
                </div>
            </div><!-- /.content -->
        </div><!-- /.col-* -->
    </div><!-- /.row -->
{% endblock %}