{% extends 'admin-base.html.twig' %}

{% block title %}Admin - Vendors{% endblock %}

{% block breadcrumb %}
    <!-- Bread Crumb -->
    <div class="header-statusbar">
        <div class="header-statusbar-inner">
            <div class="header-statusbar-left">
                <h1>Vendors</h1>
                <div class="display-inline-block">
                    <div class="hidden-xs visible-lg">
                        <form method="get" action="?">
                            <div class="header-statusbar-search">
                                <input type="text" name="value_vendor" class="form-control" placeholder="Search for...">
                            </div><!-- /search -->
                        </form>
                    </div>
                </div>
            </div>
            <div class="header-statusbar-right">
                <div class="hidden-xs visible-lg">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('admin') }}">Dashboard</a></li>
                        <li><a href="#">Vendors</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block navigation %}
    <li><a href="{{ path('admin') }}"><i class="fa fa-home"></i></a></li>
    <li><a href="{{ path('admin_internauts') }}"><i class="fa fa-users"></i></a></li>
    <li class="active"><a href="#"><i class="fa fa-star"></i></a></li>
    <li><a href="{{ path('admin_settings') }}"><i class="fa fa-cog"></i></a></li>
{% endblock %}

{% block body %}

    <div class="background-white p20 mb50">
        <h2 class="page-title">Vendors list</h2>

        <table class="table mb0">
            <thead>
            <tr>
                <th>id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Status</th>
                <th>Detail</th>
            </tr>
            </thead>

            <tbody>
            {% for vendor in vendors %}
                <tr>
                    <th scope="row">{{ vendor.id }}</th>
                    <td>{{ vendor.username }}</td>
                    <td>{{ vendor.email }}</td>
                    {% if vendor.banned %}<td>Banned</td>{% else %}<td>On</td>{% endif %}
                    <td><a href="{{ path('admin_detail', { type : 'vendor', id: vendor.id }) }}" class="btn btn-primary btn-xs">Detail</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}