{% extends 'base.html.twig' %}

{% block title %}{{ vendor.username }}{% endblock %}

{% block banner %}
    {% if vendor.isVisible %}
    {% embed 'emb/banner.html.twig' %}
        {% block background %}{% if vendor.profileImage %}url({{ asset(vendor.profileImage.imagePath) }}){% else %}linear-gradient(to left top, #011627, #031829, #051b2c, #071d2e, #091f31);{% endif %}{% endblock %}
        {% block bannertype %}Vendor{% endblock %}
        {% block bannertitle %}{{ vendor.username }}{% endblock %}
        {% block bannerdescription %}{% endblock %}
    {% endembed %}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="row detail-content">
        {% if vendor.isVisible %}
            <!-- Main -->
            <div class="col-sm-7">
                <!-- Gallery -->
                {% set first = vendor.vendorImages.first() %}
                {% if first %}
                    <div class="detail-gallery">
                        <div class="detail-gallery-preview">
                                <a href="{{ asset( first.imagePath ) }}">
                                    <img src="{{ asset( first.imagePath ) }}">
                                </a>
                        </div>
                        <ul class="detail-gallery-index">
                            {% for image in vendor.vendorImages %}
                            <li class="detail-gallery-list-item active">
                                <a data-target="{{ asset( image.imagePath ) }}">
                                    <img src="{{ asset( image.imagePath ) }}" alt="...">
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    <div class="detail-gallery">
                        <div class="detail-gallery-preview">
                            <a href="{{ asset( 'assets/img/default/banner-bg.jpg' ) }}">
                                <img src="{{ asset( 'assets/img/default/banner-bg.jpg' ) }}">
                            </a>
                        </div>
                        <ul class="detail-gallery-index">
                            <li class="detail-gallery-list-item active">
                                <a data-target="{{ asset( 'assets/img/default/banner-bg.jpg' ) }}">
                                    <img src="{{ asset( 'assets/img/default/banner-bg.jpg' ) }}" alt="...">
                                </a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            <!-- Reviews -->
            <div id="reviews" class="widget">
                <h2 class="widgettitle">Comments</h2>
                {% for comment in vendor.comments %}
                <div class="review">
                    <div class="review-image">
                        {% if comment.internaut.profileImage %}
                            <img src="{{ asset( comment.internaut.profileImage.imagePath ) }}" alt="">
                        {% else %}
                            <img src="{{ asset('assets/img/default/profile.png') }}" alt="">
                        {% endif %}
                    </div><!-- /.review-image -->
                    <div class="review-inner">
                        <div class="review-title">
                            <h2>{{ comment.internaut.username }}</h2>
                            <span class="report">
                        <span class="separator">&#8226;</span><i class="fa fa-flag" title="Report" data-toggle="tooltip" data-placement="top"></i></span>
                        </div><!-- /.review-title -->
                        <div class="review-content-wrapper">
                            <div class="review-content">
                                <div class="review-pros">
                                    <p>{{ comment.content }}</p>
                                </div><!-- /.pros -->
                            </div><!-- /.review-content -->
                        </div><!-- /.review-content-wrapper -->
                    </div><!-- /.review-inner -->
                </div><!-- /.review -->
                {% endfor %}
            </div><!-- /.reviews -->
            <!-- Clear -->
            {% if app.user %}
                {% for key, value in app.user.roles %}
                    {% if value == 'ROLE_USER' %}
                        <div class="col-sm-12">
                            <h2>Submit a comment</h2>
                            <div class="row">
                                {{ form_start(formComment, { 'attr' : { 'class' : 'background-white p20 add-review'}}) }}
                                {{ form_row(formComment.content, { 'attr' : { 'class' : 'form-control', 'rows' : 5}}) }}
                                <div class="row">
                                    <div class="col-sm-4">
                                        <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-star"></i>Submit comment</button>
                                    </div><!-- /.col-sm-4 -->
                                </div>
                                {{ form_end(formComment) }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <!-- /clear -->
        </div>
        <!-- /main -->

        <!-- Sidebar -->
        <div class="col-sm-5">
            <!-- <3 -->
            <div class="background-white p20">
                <div class="detail-overview-rating">
                    <i class="fa fa-star"></i><a href="#reviews">{{ vendor.comments | length }} comment{% if vendor.comments | length > 1 %}s{% endif %}</a>
                </div>

                <div class="detail-actions row">
                    <div class="col-sm-4">
                        <div class="btn btn-primary btn-book"><i class="fa fa-shopping-cart"></i> Book Now</div>
                    </div><!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <div class="btn btn-secondary btn-share"><i class="fa fa-share-square-o"></i> Share
                            <div class="share-wrapper">
                                <ul class="share">
                                    <li><i class="fa fa-facebook"></i> Facebook</li>
                                    <li><i class="fa fa-twitter"></i> Twitter</li>
                                    <li><i class="fa fa-google-plus"></i> Google+</li>
                                    <li><i class="fa fa-pinterest"></i> Pinterest</li>
                                    <li><i class="fa fa-chain"></i> Link</li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <div class="btn btn-secondary btn-claim"><i class="fa fa-hand-peace-o"></i> Claim</div>
                    </div><!-- /.col-sm-4 -->
                </div><!-- /.detail-actions -->
            </div>
            <!-- About -->
            <div class="widget">
                <h2 class="widgettitle">About <span class="text-secondary">{{ vendor.username }}</span></h2>
                <div class="background-white p20">
                    <div class="detail-vcard">
                        <div class="detail-logo">
                            <img src="{% if vendor.profileImage %}{{ asset( vendor.profileImage.imagePath ) }}{% else %}{{ asset('assets/img/default/profile.png') }}{% endif %}">
                        </div><!-- /.detail-logo -->

                        <div class="detail-contact">
                            <div class="detail-contact-email">
                                <i class="fa fa-envelope-o"></i> <a href="mailto:#">{{ vendor.contactMail }}</a>
                            </div>
                            <div class="detail-contact-phone">
                                <i class="fa fa-mobile-phone"></i> <a href="tel:#">{{ vendor.phone }}</a>
                            </div>
                            <div class="detail-contact-website">
                                <i class="fa fa-globe"></i> <a href="#">{{ vendor.website }}</a>
                            </div>
                            <div class="detail-contact-address">
                                <i class="fa fa-map-o"></i>
                                {{ vendor.doorNumber }} {{ vendor.street }}<br>
                                {{ vendor.locality.name }} {{ vendor.zipcode.number }}, {{ vendor.district.name }}
                            </div>
                        </div><!-- /.detail-contact -->
                    </div><!-- /.detail-vcard -->

                    <div class="detail-follow">
                        <h5>Follow Us:</h5>
                        <div class="follow-wrapper">
                            <a class="follow-btn facebook" href="#"><i class="fa fa-facebook"></i></a>
                            <a class="follow-btn youtube" href="#"><i class="fa fa-youtube"></i></a>
                            <a class="follow-btn twitter" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="follow-btn tripadvisor" href="#"><i class="fa fa-tripadvisor"></i></a>
                            <a class="follow-btn google-plus" href="#"><i class="fa fa-google-plus"></i></a>
                        </div><!-- /.follow-wrapper -->
                    </div><!-- /.detail-follow -->
                </div>
            </div>
            <!-- Categories -->
                <div class="sidebar">
                    <!-- Menu Category -->
                    <div class="widget">
                        <h2 class="widgettitle">Categories</h2>

                        <div class="background-white p20">
                            <ul class="detail-amenities">
                                {% for category in vendor.category %}
                                    <li class="yes">{{ category.name }}</li>
                                {% endfor %}
                            </ul>
                        </div><!-- /.detail-amenities -->
                        <ul class="menu">

                        </ul>
                    </div>
                </div>
            <!-- Stages -->
            {% if stages %}
            <div class="widget">
                <h2 class="widgettitle">Stages</h2>
                    {% for stage in stages %}
                    <div class="cards-small">
                        <div class="card-small">
                            <div class="card-small-image">
                                <a href="listing-detail.html">
                                    <img src="{{ asset('assets/img/default/stage.png') }}" alt="Image">
                                </a>
                            </div><!-- /.card-small-image -->

                            <div class="card-small-content">
                                <h3><a href="#">{{ stage.name }}</a></h3>
                                <h4><a href="#">{{ stage.dateBegin |date('d-m-Y') }}</a></h4>
                                <div class="card-small-price">{{ stage.price }} $</div>
                            </div><!-- /.card-small-content -->
                        </div><!-- /.card-small -->
                    </div><!-- /.cards-small -->
                    {% endfor %}
            </div>
            {% endif %}
        </div>
        <!-- /sidebar -->
        {% else %}
            <div class="background-white p20 mb50">
                <h1>Vendor not found ¯\_(ツ)_/¯</h1>
            </div>
        {% endif %}
    </div>
{% endblock %}