{% extends 'base.html.twig' %}

{% block title %}{{ vendor.username }}{% endblock %}

{% block banner %}
    {% embed 'emb/banner.html.twig' %}
        {% block bannertype %}Vendor{% endblock %}
        {% block bannertitle %}{{ vendor.username }}{% endblock %}
        {% block bannerdescription %}{% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}
    <div class="row detail-content">
        <!-- Main -->
        <div class="col-sm-7">
            <!-- Gallery -->
            <div class="detail-gallery">
                <div class="detail-gallery-preview">
                    <a href="https://res.cloudinary.com/dptzlt8ik/image/upload/v1541586831/Bien-Etre/l_int04_big.jpg">
                        <img src="https://res.cloudinary.com/dptzlt8ik/image/upload/v1541586831/Bien-Etre/l_int04_big.jpg">
                    </a>
                </div>
                <ul class="detail-gallery-index">
                    <li class="detail-gallery-list-item active">
                        <a data-target="https://res.cloudinary.com/dptzlt8ik/image/upload/v1541586831/Bien-Etre/l_int04_big.jpg">
                            <img src="https://res.cloudinary.com/dptzlt8ik/image/upload/v1541586831/Bien-Etre/l_int04_big.jpg" alt="...">
                        </a>
                    </li>
                    <li class="detail-gallery-list-item active">
                        <a data-target="https://res.cloudinary.com/dptzlt8ik/image/upload/v1541586838/Bien-Etre/l_int03_big.jpg">
                            <img src="https://res.cloudinary.com/dptzlt8ik/image/upload/v1541586838/Bien-Etre/l_int03_big.jpg" alt="...">
                        </a>
                    </li>
                    <li class="detail-gallery-list-item active">
                        <a data-target="https://res.cloudinary.com/dptzlt8ik/image/upload/v1547065039/Bien-Etre/by_housevisit_2560.jpg">
                            <img src="https://res.cloudinary.com/dptzlt8ik/image/upload/v1547065039/Bien-Etre/by_housevisit_2560.jpg" alt="...">
                        </a>
                    </li>
                    <li class="detail-gallery-list-item active">
                        <a data-target="https://res.cloudinary.com/dptzlt8ik/image/upload/v1547065041/Bien-Etre/by_ducks_2560.jpg">
                            <img src="https://res.cloudinary.com/dptzlt8ik/image/upload/v1547065041/Bien-Etre/by_ducks_2560.jpg" alt="...">
                        </a>
                    </li>
                    <li class="detail-gallery-list-item active">
                        <a data-target="https://res.cloudinary.com/dptzlt8ik/image/upload/v1547065041/Bien-Etre/Simonstalenhag.jpg">
                            <img src="https://res.cloudinary.com/dptzlt8ik/image/upload/v1547065041/Bien-Etre/Simonstalenhag.jpg" alt="...">
                        </a>
                    </li>
                    <li class="detail-gallery-list-item active">
                        <a data-target="https://res.cloudinary.com/dptzlt8ik/image/upload/v1541586831/Bien-Etre/l_int04_big.jpg">
                            <img src="https://res.cloudinary.com/dptzlt8ik/image/upload/v1541586831/Bien-Etre/l_int04_big.jpg" alt="...">
                        </a>
                    </li>
                    <li class="detail-gallery-list-item active">
                        <a data-target="https://res.cloudinary.com/dptzlt8ik/image/upload/v1541586838/Bien-Etre/l_int03_big.jpg">
                            <img src="https://res.cloudinary.com/dptzlt8ik/image/upload/v1541586838/Bien-Etre/l_int03_big.jpg" alt="...">
                        </a>
                    </li>

                </ul>
            </div>
            <!-- Reviews -->
            <div id="reviews" class="widget">
                <h2 class="widgettitle">Comments</h2>
                {% for comment in vendor.comments %}
                <div class="review">
                    <div class="review-image">
                        <img src="https://res.cloudinary.com/dptzlt8ik/image/upload/v1547130102/Bien-Etre/square.jpg" alt="">
                    </div><!-- /.review-image -->
                    <div class="review-inner">
                        <div class="review-title">
                            <h2>{{ comment.internaut.username }}</h2>
                            <span class="report">
                        <span class="separator">&#8226;</span><i class="fa fa-flag" title="Report" data-toggle="tooltip" data-placement="top"></i></span>
                        </div><!-- /.review-title -->
                        <div class="review-content-wrapper">
                            <div class="review-content">
                                <div class="review-pros">
                                    <p>{{ comment.content }}</p>
                                </div><!-- /.pros -->
                            </div><!-- /.review-content -->
                        </div><!-- /.review-content-wrapper -->
                    </div><!-- /.review-inner -->
                </div><!-- /.review -->
                {% endfor %}
            </div><!-- /.reviews -->
        </div>
        <!-- /main -->

        <!-- Sidebar -->
        <div class="col-sm-5">
            <!-- <3 -->
            <div class="background-white p20">
                <div class="detail-overview-hearts">
                    <i class="fa fa-heart"></i> <strong>213 </strong>people love it
                </div>
                <div class="detail-overview-rating">
                    <i class="fa fa-star"></i><a href="#reviews">{{ vendor.comments | length }} comments</a>
                </div>

                <div class="detail-actions row">
                    <div class="col-sm-4">
                        <div class="btn btn-primary btn-book"><i class="fa fa-shopping-cart"></i> Book Now</div>
                    </div><!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <div class="btn btn-secondary btn-share"><i class="fa fa-share-square-o"></i> Share
                            <div class="share-wrapper">
                                <ul class="share">
                                    <li><i class="fa fa-facebook"></i> Facebook</li>
                                    <li><i class="fa fa-twitter"></i> Twitter</li>
                                    <li><i class="fa fa-google-plus"></i> Google+</li>
                                    <li><i class="fa fa-pinterest"></i> Pinterest</li>
                                    <li><i class="fa fa-chain"></i> Link</li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <div class="btn btn-secondary btn-claim"><i class="fa fa-hand-peace-o"></i> Claim</div>
                    </div><!-- /.col-sm-4 -->
                </div><!-- /.detail-actions -->
            </div>
            <!-- About -->
            <div class="widget">
                <h2 class="widgettitle">About <span class="text-secondary">{{ vendor.username }}</span></h2>
                <div class="background-white p20">
                    <div class="detail-vcard">
                        <div class="detail-logo">
                            <img src="https://res.cloudinary.com/dptzlt8ik/image/upload/v1547146026/Bien-Etre/large.png">
                        </div><!-- /.detail-logo -->

                        <div class="detail-contact">
                            <div class="detail-contact-email">
                                <i class="fa fa-envelope-o"></i> <a href="mailto:#">{{ vendor.contactMail }}</a>
                            </div>
                            <div class="detail-contact-phone">
                                <i class="fa fa-mobile-phone"></i> <a href="tel:#">{{ vendor.phone }}</a>
                            </div>
                            <div class="detail-contact-website">
                                <i class="fa fa-globe"></i> <a href="#">{{ vendor.website }}</a>
                            </div>
                            <div class="detail-contact-address">
                                <i class="fa fa-map-o"></i>
                                {{ vendor.doorNumber }} {{ vendor.street }}<br>
                                {{ vendor.locality.name }} {{ vendor.zipcode.number }}, {{ vendor.district.name }}
                            </div>
                        </div><!-- /.detail-contact -->
                    </div><!-- /.detail-vcard -->

                    <div class="detail-follow">
                        <h5>Follow Us:</h5>
                        <div class="follow-wrapper">
                            <a class="follow-btn facebook" href="#"><i class="fa fa-facebook"></i></a>
                            <a class="follow-btn youtube" href="#"><i class="fa fa-youtube"></i></a>
                            <a class="follow-btn twitter" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="follow-btn tripadvisor" href="#"><i class="fa fa-tripadvisor"></i></a>
                            <a class="follow-btn google-plus" href="#"><i class="fa fa-google-plus"></i></a>
                        </div><!-- /.follow-wrapper -->
                    </div><!-- /.detail-follow -->
                </div>
            </div>
        </div>
        <!-- /sidebar -->

        <!-- Clear -->
        {% if app.user %}
            <div class="col-sm-7">
                <h2>Submit a comment</h2>
                <div class="row">
                    {{ form_start(formComment, { 'attr' : { 'class' : 'background-white p20 add-review'}}) }}
                    {{ form_row(formComment.content, { 'attr' : { 'class' : 'form-control', 'rows' : 5}}) }}
                    <div class="row">
                    <div class="col-sm-4">
                        <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-star"></i>Submit comment</button>
                    </div><!-- /.col-sm-4 -->
                    </div>
                    {{ form_end(formComment) }}
                </div>
            </div>
        {% endif %}
        <!-- /clear -->
    </div>
{% endblock %}