<div class="content">
    {% if vendors|length >= 1 %}
    <div class="cards-simple-wrapper">
        <div class="row">
            {% for vendor in vendors if vendor.isVisible %}
                <div class="col-sm-6 col-lg-4">
                    <div class="card-simple" {% if vendor.profileImage %} data-background-image="{{ asset(vendor.profileImage.imagePath) }}" {% endif %} style="background-image: linear-gradient(to left top, #011627, #031829, #051b2c, #071d2e, #091f31)">
                        <div class="card-simple-background">

                            <div class="card-simple-content">
                                <h2><a href="{{ path('vendor', { id : vendor.id }) }}">{{ vendor.username }}</a></h2>

                                <div class="card-simple-actions">
                                    <a href="{{ path('vendor', { id : vendor.id }) }}" class="fa fa-search"></a>
                                </div><!-- /.card-simple-actions -->

                            </div><!-- /.card-simple-content -->

                            <div class="card-simple-label">Vendor</div>

                            <a href="{{ path('search') }}?district={{ vendor.district.id }}"><div class="card-simple-price">{{ vendor.district.name }}</div></a>
                        </div><!-- /.card-simple-background -->
                    </div><!-- /.card-simple -->
                </div><!-- /.col-* -->
            {% endfor %}
        </div><!-- /.row -->
    </div><!-- /.cards-simple-wrapper -->
    {% endif %}
</div>
