<div class="content">
    <div class="cards-simple-wrapper">
        <div class="row">
            {% for vendor in category.vendors if vendor.isVisible %}
            <div class="col-sm-6 col-lg-4">
                <div class="card-simple" data-background-image="https://res.cloudinary.com/dptzlt8ik/image/upload/v1547065039/Bien-Etre/by_housevisit_2560.jpg">
                    <div class="card-simple-background">
                        <div class="card-simple-content">
                            <h2><a href="{{ path('vendor', { id : vendor.id }) }}">{{ vendor.username }}</a></h2>

                            <div class="card-simple-actions">
                                <a href="#" class="fa fa-star-o"></a>
                                <a href="{{ path('vendor', { id : vendor.id }) }}" class="fa fa-search"></a>
                                <a href="#" class="fa fa-heart-o"></a>
                            </div><!-- /.card-simple-actions -->
                        </div><!-- /.card-simple-content -->

                        <div class="card-simple-label">Vendor</div>

                        <a href="{{ path('search') }}?district={{ vendor.district.id }}"><div class="card-simple-price">{{ vendor.district.name }}</div></a>
                    </div><!-- /.card-simple-background -->
                </div><!-- /.card-simple -->
            </div><!-- /.col-* -->
            {% endfor %}
        </div><!-- /.row -->
    </div><!-- /.cards-simple-wrapper -->
</div>